.navbar {
    padding-top: 0px;
    padding-bottom: 0px;

    .navbar-brand {
        padding-left: 40px;
        margin: 0px;
    }

    .navbar-toggler {
        margin-top: 5px;
        margin-right: 15px;
    }
}

